@import url(root.css);

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  font-size: 13px;
  color: #7a7a7a;
  line-height: 24px;
}

.contenido__pagina {
  width: 77.5%;
  float: right;
}

.contenido__section {
  padding-top: 80px;
  position: relative;
  width: 100%;
  display: inline-block;
  height: auto;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section__titulo {
  text-align: left;
  position: relative;
  margin-bottom: 60px;
}

.section__titulo h1 {
  margin-top: 0px;
  font-size: 32px;
  color: var(--color-texto-1);
  display: inline-block;
  margin-right: 50px;
}

.section__titulo em {
  font-style: normal;
  font-weight: 700;
  color: var(--naranja);
}

.section__titulo p {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  color: var(--color-texto-1);
  position: absolute;
  top: 12.5px;
}

.boton__blanco a {
  font-size: 13px;
  font-weight: 600;
  color: var(--color-texto-1);
  text-transform: capitalize;
  background-color: var(--color-fondo-1);
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.boton__blanco a:hover {
  background-color: var(--naranja);
  color: var(--color-texto-2);
}

.boton__resaltado a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: var(--naranja);
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.boton__resaltado a:hover {
  background-color: #fff;
  color: var(--naranja);
}

header {
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -75px;
}

/* Responsive Navigation */

.responsive-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: rgba(250,250,250,.95);
  background-image: linear-gradient( 44.8deg,  rgba(255,136,102,0.67) -53.1%, rgba(255,221,136,0.28) 49% );
  /* background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% ); */
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.navbar-toggle {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.navbar-nav {
  margin: 0;
  border: none;
}

#main-nav ul {
  text-align: center;
  background-color: rgba(250,250,250,.95);
  /* background-image: linear-gradient( 44.8deg,  rgba(255,136,102,0.67) -53.1%, rgba(255,221,136,0.28) 49% ); */
  background-image: radial-gradient( circle farthest-corner at 0.1% 53.8%,  rgba(255,182,172,1) 0%, rgba(255,123,172,1) 100.2% );
  margin-top: 59px;
  width: 100%;
}
#main-nav ul li {
  margin: 15px 0px;
}
#main-nav ul li:hover {
  background-color: transparent;
}
#main-nav ul li a {
  font-size: 15px;
  font-weight: var(--fuente-bold);
  text-transform: uppercase;
  color: #fff;
  box-shadow: none;
  border: none;
}

#main-nav ul li a:hover {
  opacity: 0.5;
  background-color: transparent;
}

.navbar-toggle span {
  background-color: var(--negro);
}


/* Sidebar Style */

.sidebar-navigation {
  width: 22.5%;
  float: left;
  height: 100%;
  position: fixed;
  /* background-color: rgba(12,12,12,0.9); */
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  z-index: 10;
}

.sidebar-navigation .logo {
  position: absolute;
  width: 100%;
  height: 190px;
  padding: 20px;
  text-align: center;
}

.sidebar-navigation .logo img {
  height: 150px;
  width: auto;
}

.sidebar-navigation nav {
  position: relative;
  top: 60%;
  left: 60%;
  -webkit-transform: translateX(-60%) translateY(-60%);
  -moz-transform: translateX(-60%) translateY(-60%);
  -ms-transform: translateX(-60%) translateY(-60%);
  -o-transform: translateX(-60%) translateY(-60%);
  transform: translateX(-60%) translateY(-60%);
}

.sidebar-navigation ul {
  margin-left: 45px;
  list-style: none;
  padding: 0;
}
.sidebar-navigation li{
  padding: 10px 0;
}
.sidebar-navigation span{
  display: inline-block;
  position:relative;
}
.sidebar-navigation nav a{
  display: inline-block;
  color: var(--color-texto-1);
  margin-top: 5px;
  text-decoration: none!important;
  font-size: 15px;
  font-weight: var(--fuente-bold);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.circle{
  margin-right: 5px;
  height: 10px;
  width: 10px;
  left: 0px;
  top: -1px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--rojo); /*Color borde circulo*/
  transition: all 0.3s;
}
.rect{
  height: 1px;
  width: 0px;
  left: 0;
  bottom: 5.5px;
  background-color: var(--rojo);
  -webkit-transition: -webkit-transform 0.1s, width 0.6s;
  -moz-transition: -webkit-transform 0.1s, width 0.6s;
  transition: transform 0.1s, width 0.6s;
}
.sidebar-navigation nav a:focus {
  color: var(--verde-oliva); /*Color Menu Texto Seleccionado*/
}
.sidebar-navigation nav a:hover, nav .active-section {
  color: var(--azul); /*Color Texto Hover*/
}
.sidebar-navigation nav a:hover span, nav .active-section span{
  background-color: var(--rojo); /*Color Linea Recta seleccionada*/
}
.sidebar-navigation nav .active-section .rect{
  width: 30px;
}
.sidebar-navigation nav .active-section .circle{
  background-color: var(--blanco-crudo);
}

.sidebar-navigation .iconos__sociales {
  position: absolute;
  width: 100%;
  bottom: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidebar-navigation .iconos__sociales li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sidebar-navigation .iconos__sociales li:last-child {
  margin-right: 0px;
}

.sidebar-navigation .iconos__sociales li a {
  font-size: 18px;
  color: var(--color-texto-1);
  transition: all 0.5s;
}

.sidebar-navigation .iconos__sociales li a:hover {
  color: var(--azul);
}


/* Slider Style */

.slider .contenido__section {
  padding-top: 0px;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.slider p a {
	color: #FFF;
}
.slider p a:hover {
	color: #FF0;
	text-decoration: none;
}

.Modern-Slider .info {
  text-align: right;
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 60px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}

.Modern-Slider .info h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: var(--fuente-1);
  font-size: 64px;
  color: var(--color-texto-1);
  font-weight: 700;
  background-color: var(--color-fondo-1);
  padding: 5px;
}

.Modern-Slider .info p {
  font-size: 15px;
  font-weight: var(--fuente-bold);
  text-transform: uppercase;
  color: var(--color-texto-1);
  /* background-color: var(--color-fondo-1); */
}


.Modern-Slider .info .boton__blanco {
  margin-top: 30px;
}

.Modern-Slider .info .boton__blanco a:focus {
  outline: none;
}

.Modern-Slider .item .info .slide__logo img {
  margin-top: 50px;
  height: 150px;
  width: auto;
}


.Modern-Slider .slick-dots {
  opacity: 0;
}

.Modern-Slider .NextArrow{
  outline: none;
  display: none;
  position:absolute;
  top:60px;
  right:60px;
  width:50px;
  height:50px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:32px/50px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .NextArrow:before{content:'\f105';}

.Modern-Slider .PrevArrow{
  outline: none;
  position:absolute;
  top:60px;
  right: 120px;
  width:50px;
  height:50px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:32px/50px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .item .image {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: block;
}

.Modern-Slider .item-1 .image {
  /* background-image: url(../img/slide_1.jpg); */
  /* background-image: linear-gradient( 76.5deg,  rgba(129,252,255,1) 0.4%, rgba(255,175,207,1) 49.8%, rgba(255,208,153,1) 98.6% ); */
  background-image: url(../img/slide-1.png);
}

.Modern-Slider .item-2 .image {
  /* background-image: url(../img/slide_2.jpg); */
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,239,132,1) 0%, rgba(247,198,169,1) 54.2%, rgba(21,186,196,1) 100.3% ); */
  background-image: url(../img/slide-2.png);
}

.Modern-Slider .item-3 .image {
  /* background-image: url(../img/slide_3.jpg); */
  /* background-image: linear-gradient( 95.2deg,  rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% ); */
  background-image: url(../img/slide-3.png);

}

.Modern-Slider .PrevArrow:before{content:'\f104';}

.Modern-Slider .item .image {
  animation: zoomin 12s ease-in-out infinite alternate;
  -webkit-animation: zoomin 12s ease-in-out infinite alternate;
}

@keyframes zoomin {
    0% {-webkit-transform: scale(1);}
    100% {-webkit-transform: scale(1.2);}
}

.Modern-Slider {background:transparent;}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}


/* Nuestra Caseta Estilos */

#caseta {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid #eee;
}

#caseta .section__titulo {
  margin-right: 20%;
}

#caseta .contenido__section {
  display: inline-block;
  position: relative;
}

#caseta .owl-dots {
  margin-top: 40px;
}

#caseta .owl-dots .owl-dot span  {
  width: 12px;
  height: 12px;
  background-color: #cdcdcd!important;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
}

#caseta .owl-dots .active span {
  background-color: var(--naranja)!important;
}

#caseta .owl-dots button {
  outline: none;
}

#caseta .owl-nav {
  position: absolute;
  display: inline-block;
  top: -110px;
  right: 0;
}

#caseta .owl-nav button:focus {
  outline: none;
}

#caseta .owl-nav .owl-prev span {
  margin-right: 10px;
}

#caseta .owl-nav .owl-next span, #caseta .owl-nav .owl-prev span {
  outline: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
  background-color: #eee;
  color: #232323;
  font-size: 42px;
  transition: all 0.5s;
}

#caseta .owl-nav span:hover {
  background-color: var(--naranja);
  color: #fff;
}

#caseta .item {
  text-align: left;
  position: relative;
  z-index: 10;
}

#caseta .item .image {
  position: relative;
}

#caseta .item .image img {
  width: 100%;
  overflow: hidden;
}

#caseta .item .image .featured-button a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background-color:rgba(244, 156, 93, 0.9);
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 100%;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.5s;
  position: absolute;
  z-index: 9;
  bottom: -44px;
  opacity: 0;
}

#caseta .item:hover .featured-button a {
  bottom: 0;
  opacity: 1;
}

#caseta .item .text-content {
  padding-top: 20px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

#caseta .item .text-content h4 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#caseta .item .text-content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 12.5px;
}



/* Hazte Socio Estilos */

#socio {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

#socio .masonry {
  position: relative;
  width: 100%;
}

#socio .masonry .item img {
  transition: all 1s;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

#socio .masonry .item img:hover {
  opacity: 0.5;
}



/* Video Presentation Style */

#socio {
  text-align: center;
  background-color: #f4f4f4;
  padding: 100px 60px;
}

#socio .section__titulo {
  margin-bottom: 30px;
  text-align: center;
}

#socio .section__titulo h1 {
  display: block;
  margin: 0px;
}

#socio .section__titulo p {
  position: relative;
  margin: 0px;
}

#socio .boton__resaltado {
  margin-top: 30px;
}

.box-video{
  width: 100%;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
}

.box-video .bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.box-video .video-container{
  position: relative;
  margin: 0;
  z-index: 1;
}

.box-video .bt-play {
  position: absolute;
  top:50%;
  left:50%;
  margin:-30px 0 0 -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background:#fff;
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index:2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.box-video .bt-play:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  margin: -12px 0 0 -6px;
  border: solid transparent;
  border-left-color: #000;
  border-width: 12px 20px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.box-video:hover .bt-play {
  transform: scale(1.1);
}

.box-video.open .bg-video{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}
.box-video.open .video-container{
  opacity: 1;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}




/* Menu Estilo */

#menu {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
}

#menu .tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 90px;
  width: 100%;
  background-color: #eee;
  border-bottom: 10px solid var(--naranja);
}

#menu .tabs li {
  display: inline-block;
  text-align: center;
  width: calc(100%/3);
  float: left;
  margin: 0;
  padding: 0;
}

#menu .tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #232323;
  font-size: 19px;
  line-height: 80px;
  font-weight: 600;
  transition: 0.5s;
}

#menu .tabs a:hover {
  color: var(--naranja);
}


#menu .tabs .active:hover {
  color: #fff;
}

#menu .tabs .active {
  background-color: var(--naranja);
  color: #fff;
}

.tabgroup {
  background-color: #f4f4f4;
  padding: 20px 30px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

#menu .tabgroup ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu .tabgroup ul li {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

#menu .tabgroup ul li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#menu .tabgroup ul li img {
  float: left;
  margin-right: 30px;
  max-width: 100%;
  overflow: hidden;
}
#menu .tabgroup ul li .text-content {
  display: inline;
}

#menu .item .text-content h4 {
  padding-top: 7.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#menu .item .text-content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

#menu .item .text-content ul li {
  display: block;
  text-align: center;
}
#menu .item .text-content .extras {
  display: block;
  text-align: center;
}

#menu .item .text-content .boton__resaltado {
  margin-top: 25px;
  text-align: center;
}

/* Ubicación Estilo */

#ubicacion {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
}



/* Contact Style */

#contacto {
  padding-top: 0px;
}

#contact-content {
  padding: 80px 60px;
}

#contacto input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
}

#contacto textarea {
  border-radius: 0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  height: 200px;
  max-height: 250px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

#contacto button {
  font-size: 13px;
  border-radius: 0px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: var(--naranja);
  display: inline-block;
  height: 44px;
  line-height: 24px;
  outline: none;
  box-shadow: none;
  width: 100%;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

#contacto button:hover {
  color: #232323;
  background-color: #f4f4f4;
}



/* Footer Style */

.footer {
  background-color: rgba(12,12,12,0.9);
  height: 80px;
  line-height: 80px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer p {
  margin-bottom: 0px;
  font-size: 13px;
  line-height: 80px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}



/* Responsive Style */

@media (max-width: 992px) {

  .responsive-nav {
    display: none;
  }

  .sidebar-navigation .logo a {
    font-size: 18px;
  }

  .sidebar-navigation nav a {
    font-size: 13px;
  }

  .sidebar-navigation nav ul {
    margin-left: 30px;
  }

  .sidebar-navigation .iconos__sociales li a {
    font-size: 15px;
  }


 

}


@media (max-width: 767px) {

  .responsive-nav {
    display: block;
    height: 60px;
  }

  .contenido__pagina {
    width: 100%;
  }

  .Modern-Slider .info {
    text-align: center;
    right: 0px;
    padding: 0px 30px;
  }

  .Modern-Slider .NextArrow{
    outline: none;
    position:absolute;
    top:120px;
    right: 50%;
    transform: translateX(50%);
    margin-right: -30px;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.50);
    border:0 none;
    text-align:center;
    font:32px/50px FontAwesome;
    color:#FFF;
    z-index:5;
  }

  .Modern-Slider .NextArrow:before{content:'\f105';}

  .Modern-Slider .PrevArrow{
    outline: none;
    position:absolute;
    top:120px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -30px;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.50);
    border:0 none;
    text-align:center;
    font:32px/50px FontAwesome;
    color:#FFF;
    z-index:5;
  }



}

@media (max-width: 690px) {

  .section__titulo p {
    position: relative;
  }

  #caseta {
    padding-left: 15px;
    padding-right: 15px;
  }

  #caseta .owl-nav {
    position: absolute;
    display: inline-block;
    top: -220px;
    right: 0;
  }

  #socio {
    padding-left: 15px;
    padding-right: 15px;
  }

  #menu {
    padding-left: 15px;
    padding-right: 15px;
  }

  #ubicacion {
    padding-left: 15px;
    padding-right: 15px;
  }

  #menu .tabs a {
    font-size: 13px;
  }

  #menu .tabgroup ul li img {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  #menu .tabgroup ul li .text-content {
    display: block;
  }

  #contact-content {
    padding-left: 15px;
    padding-right: 15px;
  }

}