@charset "UTF-8";
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --fuente-1: "Amatic SC", cursive;
  --fuente-2: "IBM Plex Sans Condensed", sans-serif;

  --fuente-thin: 100;
  --fuente-extralight: 200;
  --fuente-light: 300;
  --fuente-regular: 400;
  --fuente-medium: 500;
  --fuente-semibold: 600;
  --fuente-bold: 700;
  --fuente-extrabold: 800;
  --fuente-black: 900;

  --fuente-muypequena: 0.5rem;
  --fuente-pequena: 0.8rem;
  --fuente-normal: 1rem;
  --fuente-grande: 1.5rem;
  --fuente-extragrande: 2rem;
  --fuente-enorme: 2.5rem;

  --texto-normal: var(--fuente-normal);
  --texto-h1: var(--fuente-enorme);
  --texto-h2: var(--fuente-extragrande);
  --texto-h3: var(--fuente-grande);
  --texto-p: var(--fuente-normal);
  --texto-a: var(--fuente-normal);

  --azul: #05b7ed;
  --blanco-crudo: #fdf1ec;
  --celeste: #d4edfc;
  --gris: #33333333;
  --naranja: #f49c5d;
  --negro: #333333;
  --rojo: #ee736d;
  --verde-oliva: #c8c853;

  --color-texto-1: var(--negro);
  --color-texto-2: var(--blanco-crudo);

  --color-fondo-1: var(--blanco-crudo);
  --color-fondo-2: var(--verde-oliva);

  --sombreado-caja-1: 0px 6px 50px -20px rgba(0, 0, 0, 0.2);
}


/* Clases de Full Page */
#fp-nav ul li a span {
    background-color: var(--negro);
}

#fp-nav ul li .fp-tooltip {
    color: var(--negro);
    text-transform: uppercase;
}

/* Clases de Full Page - Flechas Slide */
.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev {
    top: 95%;
}

.fp-controlArrow.fp-prev {
    left: 80%;
    border-width: 20px 20px 20px 0;
    border-color: transparent var(--negro) transparent transparent;
}

.fp-controlArrow.fp-next {
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent var(--negro);
}

/* Menu de navegación */

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: 100%;
    padding: 10px 0px;
}

.nav li, .nav a {
    display: inline-block;
    margin: 10px;

    font-family: var(--fuente-2);
    font-weight: var(--fuente-bold);
    text-transform: uppercase;

    transition: .5s ease;
}

.nav li.active {
    border-bottom: 3px solid var(--negro);
}

.nav .nav__logo {
    cursor: pointer;
}

.nav .nav__logo img {
    height: 150px;
    width: auto;
    transition: all 0.3s;
}

.nav .nav__logo img:hover {
    transform: scale(1.2);
}



.menu li a {
    transition: .5s ease;
    margin: 0;
    padding: 0;
    
}

.menu li.active a, .menu li:hover a {
    color: var(--gris);
}




/* Inicio */

.inicio {
  /* background: rgb(200, 200, 83);
  background: linear-gradient(0deg, rgba(200,200,83,1) 0%, rgba(226,220,158,1) 70%, rgba(253,241,236,1) 100%); */

  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);

}

.contenedor__logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__logotipo img {
    width: 25%;
}

.contenedor__botones {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

.contenedor__botones button a {
    font-family: var(--fuente-2);
    font-weight: var(--fuente-bold);
}

.inicio .contenedor__icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: var(--fuente-enorme);
    animation: bajar__subir 1s ease infinite;
}

/* Animaciones */

@keyframes bajar__subir {
    0% {transform: translateY(20px);}
    25% {transform: translateY(0px);}
    100% {transform: translateY(20px);}
}

/* Nuestra Caseta */
.caseta {
    /* background: rgb(253,241,236);
    background: linear-gradient(0deg, rgba(253,241,236,1) 0%, rgba(227,221,161,1) 30%, rgba(200,200,83,1) 100%); */
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

}

/* Hazte Socio */
.socio {
    /* background: rgb(200, 200, 83);
    background: linear-gradient(0deg, rgba(200,200,83,1) 0%, rgba(226,220,158,1) 70%, rgba(253,241,236,1) 100%); */
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

}

/* Menu de Comidas */

.menuComida article {
    /* background: rgb(253,241,236);
    background: linear-gradient(0deg, rgba(253,241,236,1) 0%, rgba(227,221,161,1) 30%, rgba(200,200,83,1) 100%); */
    background-color: #f9bdd8;
    background-image: linear-gradient(315deg, #f9bdd8 0%, #f2ced6 55%, #ffbcc9 100%);
    

}

/* Reserva tu mesa */
.reserva {
    /* background: rgb(200, 200, 83);
    background: linear-gradient(0deg, rgba(200,200,83,1) 0%, rgba(226,220,158,1) 70%, rgba(253,241,236,1) 100%); */
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}

/* Contacto */

.contacto {
    /* background: rgb(253,241,236);
    background: linear-gradient(0deg, rgba(253,241,236,1) 0%, rgba(227,221,161,1) 30%, rgba(200,200,83,1) 100%); */
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

.section.contacto  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto__h3 {
    font-family: var(--fuente-2);
    font-weight: var(--fuente-bold);
    font-size: var(--fuente-grande);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.contacto__redesSociales {
    display: flex;
    justify-content: center;
    font-size: var(--fuente-enorme);
    margin: 0;
}

.contacto__redesSociales a {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: var(--blanco-crudo);
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 20px;
}

.contacto__redesSociales .whatsapp {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

} 

         
/* Botones Gradientes */
.boton__gradiente-1 {
    background-image: linear-gradient(to right, #FFAFBD 0%, #ffc3a0  51%, #FFAFBD  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .boton__gradiente-1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
           
  .boton__gradiente-2 {
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .boton__gradiente-2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 